@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    business --prefersdark;
}

@theme {
  --font-family-heading: "Recia", serif;
  --font-family-body: "Supreme", sans-serif;

  --text-h1: clamp(6rem, 20vw, 7.594rem);
  /* --text-h1: 6rem; */
  --text-h1--line-height: 1;
  --font-weight-h1: 700;
  --tracking-h1: -0.04em;
  --spacing-y-h1: 1.6rem;

  --text-h2: clamp(2rem, 10vw, 5.063rem);
  /* --text-h2: 2rem; */
  --text-h2--line-height: 1;
  --font-weight-h2: 700;
  --tracking-h2: -0.04em;
  --spacing-y-h2: 1rem;

  --text-body: 1rem;
  --text-body--line-height: 1.6;
  --font-weight-body: 400;
  --tracking-body: 0.03em;

  --spacing-x-sm: 2rem;
  --spacing-x-lg: 8rem;

  --spacing-y-sm: 1rem;
}

@layer base {
  html,
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    font-family: var(--font-family-body);
    font-size: var(--text-body);
    font-weight: var(--font-weight-body);
    line-height: var(--text-body--line-height);
    letter-spacing: var(--tracking-body);
  }

  h1 {
    font-family: var(--font-family-heading);
    font-size: var(--text-h1);
    font-weight: var(--font-weight-h1);
    line-height: var(--text-h1--line-height);
    letter-spacing: var(--tracking-h1);
  }

  h2 {
    font-family: var(--font-family-heading);
    font-size: var(--text-h2);
    font-weight: var(--font-weight-h2);
    line-height: var(--text-h2--line-height);
    letter-spacing: var(--tracking-h2);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer utilities {
  .my-section {
    @apply relative w-screen min-h-screen px-(--spacing-x-sm) md:px-(--spacing-x-lg);
  }

  .mobile-menu-icon-container {
    @apply p-2 rounded-full cursor-pointer bg-primary text-primary-content w-fit;
  }

  .mobile-menu-icon-container .mobile-menu-icon {
    @apply h-7 w-7;
  }
}
