@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Lora", serif;
  --font-secondary: "Merriweather", serif;
}

@layer base {
  html,
  body {
    font-family: "Teko", serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.25;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer utilities {
  .my_big_text {
    font-family: "Lora", serif;
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: -0.05rem;
  }

  .my_section {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    /* overflow: auto; */
  }
}
